@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');

:root {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, rgba(47,47,47,1) 1%, rgba(23,23,23,1) 78%);
    color: whitesmoke;
    font-family: "Poppins", "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 1rem;
}

h1{
    padding: -15px;
    display: flex;
    justify-content: center;
}

.tomato{
    width: 11rem;
    height: 11rem;
}

main{
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
@keyframes toWork{
    0%{background: linear-gradient(120deg, rgba(255,0,0,1) 1%, rgba(138,8,8,1) 78%)}
    50%{background: linear-gradient(120deg, rgba(255,0,0,1) 1%, rgba(138,8,8,1) 90%)}
    100%{background: red}
}
@keyframes toRest {
    0%{background: linear-gradient(120deg, rgba(255,0,0,1) 1%, rgba(138,8,8,1) 78%)}
    33%{background: linear-gradient(120deg, rgba(255,0,0,1) 1%, rgba(138,8,8,1) 40%);}
    66%{background: linear-gradient(120deg, rgba(255,0,0,1) 1%, rgba(138,8,8,1) 10%);}
    100%{background: rgba(138,8,8,1)};
    
}

.clock {
    background: linear-gradient(120deg, rgba(255,0,0,1) 1%, rgba(138,8,8,1) 78%);
    border-radius: 30px;
    width: 900px;
    height: 175px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 1px 1px 5px #252525;
    
 }

.clock.work {
    animation: toWork 0.5s;
    animation-fill-mode: forwards;
}

.clock.rest {
    animation: toRest 0.2s;
    animation-fill-mode: forwards;
}
 
.inputs {
    width: 800px;
    height: 60px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 5px;
    
}

button {
    background-color: #202020;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

input{
    border: none;
    outline: none;
    width: 120px;
    text-align: center;
    font-size: 2rem;
    border-radius: 5px;
    color: white
}

.time{
    font-size: 7rem;
}

.work-time {
    grid-column: 2 / 3;
    background-color: red;
}

.start {
    grid-column: 3 / 4;
    border-right: 1px solid red;
}

.pause {
    grid-column: 4 / 5;
    border-right: 1px solid rgb(138, 8, 8);
}

.stop {
    grid-column: 5 / 6;
}

.rest-time {
    grid-column: 6 / 7;
    background-color: rgb(138, 8, 8);

}
